.destaques_body {
    background-color: #13131F;
    width: 90vw;
    height: 50vh;
    margin: 0 auto;
    overflow: hidden;
}

.main {
    background-color: #13131F;
    padding-bottom: 15vh;
}

@media screen and (min-width:500px) {
    .destaques_body {
        width: 90vw;
        height: 90vh;
    }
}

@media screen and (min-width:600px) {
    .destaques_body {
        width: 50vw;
        height: 50vh;
    }
}

.slider_image {
    height: 40vh;
    width: 100%;
    cursor: pointer;
}

.destaques_body h1 {
    color: white;
    text-align: center;
    width: fit-content;
    margin: 0 auto;
    text-decoration: none;
    background-image: linear-gradient(90deg, rgb(162, 0, 255), #13131F, #13131F);
    background-repeat: no-repeat;
    background-size: 100% 3px;
    background-position: left bottom;
    margin-bottom: 5vh;
}

.destaques_body h3 {
    color: rgb(165, 65, 252);
    text-align: center;
}

.carousel-control-prev {
    background-color: rgba(165, 65, 252, 0.1) !important;
}

.carousel-control-next {
    background-color: rgba(165, 65, 252, 0.1) !important;
}

.carousel-indicators [data-bs-target] {
    background-color: rgb(165, 65, 252) !important;
}