.navbar_view{
    background-color: black;
    padding-top: 5vh;
    padding-bottom: 5vh;
    top: 0;
    z-index: 100;
    width: 100%;
    position: fixed !important;
}

.fine_line{
    background-color: rgb(165, 65, 252);
    height: 0.1vh;
}

.burguer_menu{
    color: rgb(165, 65, 252);
    font-size: 50px;
    cursor: pointer;
}

.menu_title{
    color: white;
    cursor: pointer;
}

.offcanvas{
    background-color: black !important;
}
