.navbar_view{
    background-color: black;
    padding-top: 5vh;
    padding-bottom: 5vh;
    top: 0;
    z-index: 100;
    width: 100%;
    position: fixed !important;
}

.fine_line{
    background-color: rgb(165, 65, 252);
    height: 0.1vh;
}

.burguer_menu{
    color: rgb(165, 65, 252);
    font-size: 50px;
    cursor: pointer;
}

.menu_title{
    color: white;
    cursor: pointer;
}

.menu_title:hover{
    -webkit-animation: swing 1s ease;
    animation: swing 1s ease infinite;
    -webkit-animation-iteration-count: 1;
    animation-iteration-count: 1;
}


@keyframes swing
{
    15%
    {
        -webkit-transform: translateX(5px);
        transform: translateX(5px);
    }
    30%
    {
        -webkit-transform: translateX(-5px);
        transform: translateX(-5px);
    }
    50%
    {
        -webkit-transform: translateX(3px);
        transform: translateX(3px);
    }
    65%
    {
        -webkit-transform: translateX(-3px);
        transform: translateX(-3px);
    }
    80%
    {
        -webkit-transform: translateX(2px);
        transform: translateX(2px);
    }
    100%
    {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
}   

.offcanvas{
    background-color: black !important;
}
