.projects_body {
  background-color: #13131F;
}

.projects_body h1 {
  color: white;
  text-align: center;
  padding-top: 5vh;
  width: fit-content;
  margin: 0 auto;
  text-decoration: none;
  background-image: linear-gradient(90deg, rgb(162, 0, 255), #13131F, #13131F);
  background-repeat: no-repeat;
  background-size: 100% 3px;
  background-position: left bottom;
}

.projects_grid {
  display: grid;
  padding-left: 20px;
  padding-right: 20px;
  gap: 10px;
  grid-template-columns: repeat(1, 1fr);
  transform: translateY(2%);
  justify-items: center;
  padding-top: 10vh;
  padding-bottom: 20vh;

}

.projects_grid:hover > :not(:hover){
  opacity: .45;
}


@media screen and (min-width:500px) {
  .projects_grid {
    flex-direction: column;
    grid-template-columns: repeat(1, 1fr);
    padding-left: 5vw;
    gap: 50px;
  }
}

@media screen and (min-width:600px) {
  .projects_grid {
    flex-direction: column;
    grid-template-columns: repeat(2, 2fr);
    padding-left: 5vw;
    gap: 50px;
  }
}

@media screen and (min-width:805px) {
  .projects_grid {
    flex-direction: column;
    grid-template-columns: repeat(3, 2fr);
    padding-left: 5vw;
    gap: 50px;
  }
}

.projects_card {
  border-radius: 10px;
  width: 25vw;
  height: 30vh;
  display: flex;
  flex-direction: column;
  /* Se desejar alinhar na vertical */
  justify-content: center;
  /* Alinha verticalmente */
  align-items: center;
  cursor: pointer;
  transition: transform 1s ease-in-out;
  border: 1px solid rgb(165, 65, 252);
  overflow: hidden;
  position: relative;
}

@media screen and (max-width:500px) {
  .projects_card {
    width: 70vw;
  }
}

.projects_card:hover {
  transform: scale(1.1);
  background-color: black;
  opacity: 1;
  z-index: 100;
}

.projects_card:hover .imagem{
  height: 20vh;
  transition: .9s ease-in-out;
}

.imagem {
  height: 20vh;
  width: 100%;
  margin: 20px;
  margin-top: 0;
  height: 100vh;
  display: block;
}

@media screen and (max-width:500px) {
  .imagem {
    width: 70vw;
    margin-top: 0;
  }
}

.modal-content {
  background-color: #13131F !important;
}

.modal-header{
  border-bottom: var(--bs-modal-header-border-width) solid #e800ff !important;
}

.modal-footer{
  border-top: var(--bs-modal-header-border-width) solid #e800ff !important;
}

.modal_title{
  color: white  ;
}

.close_button{
  color: white;
  cursor: pointer;
  font-size: 3em;
  transition: 0.5s;
}

.close_button:hover{
  color: #ff0000;
}

.botao {
  width: 180px;
  height: 30px;
  cursor: pointer;
  background: transparent;
  border: 1px solid rgb(165, 65, 252);
  border-radius: 20px;
  outline: none;
  transition: 0.5s ease-in-out;
  text-align: center;
}

.botao span {
  color: white;
  font-size: 18px;
  font-weight: 100;
}

.botao:hover {
  transition: 0.5s ease-in-out;
  background: rgb(66, 11, 117);
  transform: scale(1.05);
}

.projeto_imagem {
  border-radius: 10px;
  max-width: 800px;
  max-height: 800px;
  width: auto;
  height: auto;
  transition: 0.5s ease-in-out;
  margin-top: 5vh;
  margin: 0 auto;
}
@media screen and (max-width:500px) {
  .projeto_imagem{
    max-width: 300px;
    max-height: 300px;
  }
  .modal_position p{
    width: 90vw;
  }
  .botao{
    width: 100px;
  }
}

.modal_position{
  display: flex;
  justify-content: space-between;
}