.skills_body {
  background-color: #13131F;
  overflow-x: hidden;
  overflow-y: hidden;
  animation: animated 1ms ease-in-out;
  animation-timeline: scroll();
  animation-range: cover 0% cover 30%;
}

.skills_body h1 {
  color: white;
  padding-top: 10vh;
  text-align: center;
  width: fit-content;
  margin-left: 5vw;
  font-size: 3em;
  text-decoration: none;
  background-image: linear-gradient(90deg, rgb(162, 0, 255), #13131F, #13131F);
  background-repeat: no-repeat;
  background-size: 100% 3px;
  background-position: left bottom;
}

.icon {
  color: white;
  font-size: 3em;
  max-width: fit-content;
  margin-top: -2vh;
}

.skills_grid {
  display: grid;
  padding-left: 20px;
  padding-right: 20px;
  gap: 20px;
  grid-template-columns: repeat(2, 2fr);
  padding-left: 10vw;
  padding-bottom: 15vh;
  padding-top: 10vh;
}

@keyframes animated{
  from{
    opacity: 0;
    translate: -10vw -15vh;
  }

  to{
    opacity: 1;
    translate: 0 0;
  }
}


@media screen and (min-width:500px) {
  .skills_grid {
    flex-direction: column;
    grid-template-columns: repeat(2, 2fr);
    padding-left: 10vw;
  }
}

@media screen and (min-width:600px) {
  .skills_grid {
    flex-direction: column;
    grid-template-columns: repeat(3, 2fr);
    padding-left: 10vw;
  }
}

@media screen and (min-width:805px) {
  .skills_grid {
    flex-direction: column;
    grid-template-columns: repeat(4, 2fr);
    padding-left: 10vw;
  }
}

.skills_grid span {
  padding-left: 0.5vw;
  padding-top: 0.5vh;
}

.icon_card {
  border-radius: 20px;
  width: 150px;
  display: flex;
  flex-direction: column;
  /* Se desejar alinhar na vertical */
  justify-content: center;
  /* Alinha verticalmente */
  align-items: center;
  cursor: pointer;
  transition: transform 0.2s ease-in-out;
  border: 1px solid rgb(165, 65, 252);
}

.icon_card:hover {
  transform: scale(1.2);
  background-color: black
}

.expand_button {
  cursor: pointer;
  transition: transform 0.8s ease-in-out;
}

.expand_button:hover {
  transform: scale(1.1);
}

.closed_button {
  padding-bottom: 5vh;
}
.back{
  background-color: #13131F;
}