.welcome_container{
    display: flex;
    justify-content: space-around;
    background-color: #13131F;
    padding:0 5vw;
    padding-bottom: 5vh;
    height: max-content;
    color: white;
}

.container{
    justify-content: center;
    padding-top: 3vh;
    padding-left: 5vw;
}

.name_title{
    align-items: center;
    font-size: 50px;
    padding-top: 5vh;
}

.welcome_buttons{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: start;
    padding-top: 3vh;
    gap: 1vw;
    margin-left: -2vw;
}

.button{
    max-width: 20vw;
    max-height: 30vh;
}

.botao {
    width: 180px;
    height: 60px;
    cursor: pointer;
    background: transparent;
    border: 1px solid rgb(165, 65, 252);
    border-radius: 20px;
    outline: none;
    transition: 0.5s ease-in-out;
  }
  .botao span {
    color: white;
    font-size: 18px;
    font-weight: 100;
  }

  .botao:hover {
    transition: 0.5s ease-in-out;
    background: rgb(66, 11, 117);
    font-size: 25px;
    padding: 1vw;
  }

  .tema_imagem{
    border-radius: 180px;
    max-width:200px;
    max-height:150px;
    width: auto;
    height: auto;
    transition: 0.5s ease-in-out;
    margin-top: 5vh;
  }

@media screen and (max-width:1000px){
    .button_space {
        display:none;
    }
}

@media screen and (max-width:500px){
    .name_title {
        font-size: 30px;
    }
    .tema_imagem{
        border-radius: 180px;
        max-width:150px;
        max-height:100px;
        width: auto;
        height: auto;
        }
}

span{
    color: rgb(165, 65, 252);
}

p{
    color: rgb(182, 182, 241);
}

.about{
    padding-top: 10vh;
    text-align: center;
}

.text_about{
    border-radius: 180px;
    max-width:80vw;
    max-height:80vh;
    width: auto;
    height: auto;
    color: #7d7d7d;
    padding-top: 3vh;
}

@media screen and (max-width:1400px){
    .text_about {
        max-width: 50vw;
        width: 40vw;
    }
}
